<div class="page-container">
  <!-- NAVBAR -->
  <div class="banner-container">
    <!--NAVBAR-->
    <%= render 'shared/navbar' %>
    <!-- MAIN BANNER -->
    <%= render 'shared/sections/main_banner' %>
  </div>
  <!-- ABOUT SECTION-->
  <%= render 'shared/sections/about' %>
  <!-- RESEARCH DESIGN DEVELOP -->
  <%= render 'shared/sections/punchsection' %>
  <!--PORTFOLIO SECTION-->
  <%= render 'shared/sections/portfolio' %>
  <!--CONTACT SECTION -->
  <%= render 'shared/sections/contact' %>
</div>
