  <div class="portfolio-section">
    <p class="home-headings">Are you curious about mywork? <span class="explore-line">Explore it </span></p>
    <div class="portfolio-grids">
      <%= link_to "https://www.mytoploc.com/", target: "_blank" do %>
        <div class="grid" id="grid-1"></div>
      <% end %>
      <%= link_to "https://www.mytoploc.com/", target: "_blank" do %>
        <div class="grid" id="grid-1"></div>
      <% end %>
      <%= link_to "https://www.mytoploc.com/", target: "_blank" do %>
        <div class="grid" id="grid-1"></div>
      <% end %>
      <%= link_to "https://www.mytoploc.com/", target: "_blank" do %>
        <div class="grid" id="grid-1"></div>
      <% end %>
      <%= link_to "https://www.mytoploc.com/", target: "_blank" do %>
        <div class="grid" id="grid-1"></div>
      <% end %>
      <%= link_to "https://www.mytoploc.com/", target: "_blank" do %>
        <div class="grid" id="grid-1"></div>
      <% end %>
    </div>
  </div>
