  <div class="portfolio-section">
    <p class="home-headings">Are you curious about mywork? <span class="explore-line">Explore it </span></p>
    <div class="portfolio-grids">
      <%= link_to "https://www.mytoploc.com/", target: "_blank" do %>
        <div class="grid" id="grid-1" style ="background-image: url('https://res.cloudinary.com/dgsqurpio/image/upload/v1599291677/portfolio/mytoploc_pq05tk.png')"></div>
      <% end %>
      <%= link_to "https://www.mytoploc.com/", target: "_blank" do %>
        <div class="grid" id="grid-1"></div>
      <% end %>
      <%= link_to "#", target: "_blank" do %>
        <div class="grid" id="grid-1"></div>
      <% end %>
      <%= link_to "#", target: "_blank" do %>
        <div class="grid" id="grid-1"></div>
      <% end %>
      <%= link_to "#", target: "_blank" do %>
        <div class="grid" id="grid-1"></div>
      <% end %>
      <%= link_to "#", target: "_blank" do %>
        <div class="grid" id="grid-1"></div>
      <% end %>
    </div>
  </div>
